:root{
    --cor-destaque:#e50914;
    --cor-fundo: #141414;
    --cor-letra: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    border: 0;

}
/*Elementos base*/
body{
    background-color: var(--cor-fundo);
    font-family: 'Arial', Times, serif;
    color: var(--cor-letra);
    
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--cor-destaque);
    font-family: 'Arial Black';
    font-size: 40px;

}
header nav a{
    text-decoration: none;
    color: var(--cor-letra);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--cor-letra);
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 50, 0.50), rgba(0,0,0,.50) 100%), url('../img/Desafiando_gigantes/poster_filme3.jpg');
    
    height: 100vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: var(--cor-fundo);
    border: none;
    color: var(--cor-letra);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: var(--cor-letra);
    color: var(--cor-fundo);
}
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes{
    margin-top: 5px;
}